body{font-family:'Nunito', sans-serif; font-weight: 300;}
h1, h2, h3{font-weight: 900;}
h4, h5, h6{font-weight: 700;}
.section_wrapper_two{padding-top:82px;}
.section_wrapper{padding:82px 8px;max-width:660px;margin:0 auto;}
.section_wrapper h2{margin:40px 0;}
.share_container .share_button{display: inline-block;padding:8px;}
.excerpt{line-height: 24px;}

#btn_play, #btn_pause, #player_pause, #player_play{background-color: transparent;border-style: none;outline: none;cursor: pointer;}
#btn_play svg, #btn_pause svg{width:52px;height: 52px;fill:#fff;}
#player_pause svg, #player_play svg{width:40px;height:40px;fill:#fff;}

/*HEADER*/
.logo_nofm{background-image: url(./images/logo.png);background-repeat: no-repeat;background-position: center;background-size: 210px; width:210px;height: 70px;}
.with_background{background-color: #333!important;}
#main_header{
	background-color:#000;
	width:100%;
	box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
	padding:20px 8px;
	position:fixed;
	left:0;
	right:0;top:0;z-index:12;display: flex;flex-direction: row;justify-content: flex-start;align-items: center;}
#main_header a{position:absolute;left:50%;margin-left:-105px;}
#menu_hamburguer{margin-right: 24px;background-color:transparent;border-style: none;outline: none;}

.bar1, .bar2, .bar3 {width: 35px;height: 5px;background-color: white;margin: 6px 0;transition: 0.4s;}
.change .bar1 {-webkit-transform: rotate(-45deg) translate(-9px, 6px);transform: rotate(-45deg) translate(-9px, 6px);}
.change .bar2 {opacity: 0;}
.change .bar3 {-webkit-transform: rotate(45deg) translate(-8px, -8px);transform: rotate(45deg) translate(-8px, -8px);}

/*NAVIGATION*/
#main_navigation{position:fixed;top:82px;left:-75%;bottom:0;max-width:300px;width:75%;z-index: 9;transition:left .5s;overflow: hidden;background-color:rgba(31,36,41,0.8);padding:16px 0;color:#fff;}
#main_navigation a{color:white;}
#main_navigation a:hover{color:#000;}
.show{left:0!important;}

#main_navigation div{padding:8px;}
#main_navigation h4{padding:2px 4px;margin:16px 0;}
#main_navigation .social_list{display: flex;flex-direction: row;justify-content: flex-start;align-items: center;margin-top:16px;padding-left: 8px;}
#main_navigation .social_list .social_item{padding:8px 12px;}
#main_navigation .social_list .social_item:first-child{padding:0 12px 0 0;}
#main_navigation .social_list .social_item img{width:32px;height: 32px;object-fit: contain;}

/*FIRST POST*/
#first_post_section{background-color: #1F2429;color:#fff;}

#first_post_section .fig_container{position: relative;}
#first_post_section .fig_container img{width:100%;height: auto;}

#first_post_section .fig_container.first_post img{width:100%;height:70vh;object-fit: cover;object-position: 70% 0%}
#first_post_section .fig_container.first_post figcaption{position:absolute;bottom:0;left:0;right:0;padding:16px;color:#fff;background-image: linear-gradient(0deg, black, transparent); }
#first_post_section .fig_container.first_post figcaption svg{width:52px;height: 52px;fill:#fff;}
#first_post_section .fig_container.first_post figcaption h2{margin:0;text-shadow: 1px 1px 3px rgba(0,0,0,0.4);}

#first_post_section .post_detail{padding:16px 8px;}
#first_post_section .options_list .options_item{display: flex;flex-direction: row;justify-content: flex-start;align-items: center;}
#first_post_section .options_list .options_item svg{fill:#fff;width:32px;height: 32px;}
#first_post_section .post_detail span{color:#fff;display: block;}
#first_post_section .post_detail a{color:#fff;display: block;margin-bottom: 24px;}
#first_post_section .post_detail p{margin:0 0 24px 0;}
#first_post_section .post_detail figure{border-bottom:2px solid white;margin-bottom:16px;}
#first_post_section .post_detail figure img{width:100%;height: auto;max-width:350px;}
#first_post_section .post_detail figure h5{line-height: 24px;text-align: center;}

/*PLAYLIST*/
.playlist{padding-top:32px;background-color:#000;}
.playlist .audio_item h3{text-align: center;color:#fff;padding-bottom:32px;text-shadow: 1px 2px 4px rgba(0,0,0,0.3)}
.playlist .audio_item h4{text-shadow: 1px 1px 2px rgba(0,0,0,0.3);color:#fff;}

/*HOME PLAYLIST*/
/*#home_section .playlist:nth-of-type(1){margin-bottom:10vh;}*/

/*FIGURE PLAYLIST*/
.audio_item{margin:0px;}
.audio_item .fig_audio_item{position: relative;}
/*.audio_item .fig_audio_item .play_button{position:absolute; top:16px; left:8px; }*/
.audio_item .fig_audio_item figcaption{
	position:absolute;
	left: 0;
	right: 0;
	bottom:0;
	padding:24px 16px;
	background-image: linear-gradient(0deg, black, transparent);
	color:#fff;
}
.audio_item .fig_audio_item img{width: 100%;height:auto;}
.audio_item .fig_audio_item .fig_audio_caption h2{margin:0;}
.audio_item .fig_audio_item svg{fill:#fff;width:52px;height: 52px;}

#main_footer{background-color:#000;padding:16px 8px;}
#main_footer figure{display: flex;flex-direction: row;justify-content: flex-start;}
#main_footer figure img{flex-shrink: 0;min-width:90px;min-height: 90px;object-fit: contain;margin-right: 16px;}
#main_footer figure figcaption p{color:#fff;align-items: center;padding:30px 0;line-height: 30px;}

/*EPISODIOS*/


/*SINGLE*/
#single_section .single_article_container .single_article_caption{padding:16px 8px;}
#single_section .single_article_container .single_article_caption .play_section{display: flex;flex-direction: row;justify-content: flex-start;align-items: center;}
#single_section .single_article_container .single_article_caption .play_section span{position:relative;top:0px;font-size: 1rem;}
#single_section .single_article_container .single_article_caption .play_section .play_button svg{fill:#000;}
#single_section .single_article_container .single_article_caption h3{margin:40px 0 0;}
#single_section .single_article_container .single_article_image{width:100%;height: auto;}
#single_section .single_article_container .single_content{font-size: 16pt; line-height: 24pt;padding:0 8px;max-width: 660px;margin:0 auto;}
#single_section .play_section .play_button{background-color:transparent;width:54px;height: 54px;border-radius: 50%; padding:0;margin:16px 0px;}
#single_section .play_section span{position:relative;bottom:18px;left:8px;}

/*Simple Page About*/
.simple_page_section h2{margin:40px 0 24px 0;padding-bottom:24px;border-bottom: 3px solid black;font-weight: 700;}
.simple_page_section div p{font-size: 16pt;line-height: 24pt;font-weight: 300;margin-bottom:24px;}

/*AUDIO PLAYER*/
#player_control_container{display: flex;flex-direction: row;justify-content:flex-start;align-items: center;}
#player_control_container .track_info{color:#fff;}

@media screen and (min-width: 768px){
	/*PLAYLIST*/
	.playlist{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		}
	/*.playlist h3{position: relative;right: 90px;}*/
	.playlist .audio_item{flex-shrink: 0;width:calc(100% / 3 - 20px);margin:10px;}

	#first_post_section .post_detail{max-width:80%;margin:0 auto;font-size: 140%;}
	#first_post_section .post_detail p{line-height: 40px;}
	#first_post_section .post_detail figure{display: flex;flex-direction: row;justify-content: space-between;align-items: center;}
	#first_post_section .post_detail h5{text-align: left;}


	#btn_play svg, #btn_pause svg{width:90px;height: 90px;}
	#first_post_section .fig_container.first_post figcaption{padding-bottom:32px;}
	#first_post_section .fig_container.first_post figcaption svg{width:90px;height: 90px;}
	#single_section .play_section .play_button{width:90px;height: 90px;}


}

@media screen and (min-width: 1024px){
	/*PLAYLIST*/
	/*#home_section .playlist:nth-of-type(1){margin-bottom:20vh;}*/
	.playlist{padding:50px 10%;}
}

@media screen and (min-width: 1280px){
	/*HOME PLAYLIST*/


	#first_post_section .fig_container.first_post img{height: 80vh;}
	#first_post_section .fig_container.first_post figcaption{padding:16px 16px 40px 16px;}	
	#first_post_section .post_detail p{font-size: 150%;line-height: 50px;}
	#first_post_section .post_detail a{font-size: 120%;}
	.playlist_header h4{font-size: 200%;}
	h6{font-size: 150%;}

	/*Single*/
	#single_section .single_article_container .single_article_image{width:100%;height:100vh;object-fit:cover;}
}

@media screen and (min-width: 1366px){
	.playlist .audio_item{margin-bottom:56px;}
}